<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img alt="Brand" src="img/logo_web.png" width="20">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li *ngFor="let navItem of navLinks">
                <a [routerLink]="[navItem.path]">{{navItem.title}}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text">Signed in as {{currentUser.username}}</p></li>
            <li><a (click)="userLogout()" >Logout</a></li>
        </ul>
    </div>
</nav> 